In [3]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd

In [4]:
order_products = pd.read_csv('order_products.csv')

In [5]:
orders = pd.read_csv('orders.csv')

In [6]:
reorder = pd.merge(order_products, orders, on = "order_id",  how = "left")

In [9]:
reorder.head(30)

,order_id,product_id,add_to_cart_order,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,202279,3,5,9,8.0
1,2,28985,2,202279,3,5,9,8.0
2,2,9327,3,202279,3,5,9,8.0
3,2,45918,4,202279,3,5,9,8.0
4,2,30035,5,202279,3,5,9,8.0
5,2,17794,6,202279,3,5,9,8.0
6,2,40141,7,202279,3,5,9,8.0
7,2,1819,8,202279,3,5,9,8.0
8,2,43668,9,202279,3,5,9,8.0
9,3,33754,1,205970,16,5,17,12.0
10,3,24838,2,205970,16,5,17,12.0
11,3,17704,3,205970,16,5,17,12.0
12,3,21903,4,205970,16,5,17,12.0
13,3,17668,5,205970,16,5,17,12.0
14,3,46667,6,205970,16,5,17,12.0
15,3,17461,7,205970,16,5,17,12.0
16,3,32665,8,205970,16,5,17,12.0
17,4,46842,1,178520,36,1,9,7.0
18,4,26434,2,178520,36,1,9,7.0
19,4,39758,3,178520,36,1,9,7.0
20,4,27761,4,178520,36,1,9,7.0
21,4,10054,5,178520,36,1,9,7.0
22,4,21351,6,178520,36,1,9,7.0
23,4,22598,7,178520,36,1,9,7.0
24,4,34862,8,178520,36,1,9,7.0
25,4,40285,9,178520,36,1,9,7.0
26,4,17616,10,178520,36,1,9,7.0
27,4,25146,11,178520,36,1,9,7.0
28,4,32645,12,178520,36,1,9,7.0
29,4,41276,13,178520,36,1,9,7.0

In [10]:
reorder.shape

(33819106, 8)

In [7]:
reorder1=reorder.groupby(['user_id','product_id']).size()

In [8]:
reorder1

user_id  product_id
1        196           11
         10258         10
         10326          1
         12427         10
         13032          4
                       ..
206209   43961          3
         44325          1
         48370          1
         48697          1
         48742          2
Length: 13863746, dtype: int64

In [15]:
b = pd.merge(reorder,reorder1,on=['user_id','order_number'],how='left')
b

ValueError: Cannot merge a Series without a name

In [14]:
reorder.join(reorder1, on=["user_id","product_id"], how='left')

ValueError: Other Series must have a name